* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.images-container img {
    margin: 10px;
    cursor: pointer;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* opacity: 70%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.overlay.hidden{
    display: none;
}

.close {
    position: absolute;
    right: 0;
    padding: 10px;
    margin: 20px;
}

.paysage {
    margin: auto;
    width: 80%;
}

.paysage img{
    width: 100%;
    z-index: 2;
}

.portrait {
    margin: auto;
    height: 80%;
}

.portrait img {
    height: 100%;
    z-index: 2;
}


